{% extends "base.html" %}
{% block body_class %}Comments - TGNP{% endblock %}

{% block body %}
    <div class="cohort-list-container">
        <h2 class="with-actions">
            Teams
            <a class="button" href="{% url "comments:post_comment" content_type_id="1" object_id="1" %}">
                <i class="fas fa-plus"></i>
                Post a Comment
            </a>
        </h2>
        <div class="cohort-list">
            {% for comment in comments %}
            <div class="comment-content">
                <h3>
                    <a href="{% url "comments:edit_comment" comment.pk %}">
                        {{ comment.name }}
                    </a>
                    <span class="totals">
                        <span class="users">{{ comment.member_counts.users }}</span>
                        <span class="total">{{ comment.member_counts.total }}</span>
                    </span>
                </h3>
                <div class="team-members">
                    {% include "app_list/comments/_comment.html" %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}